/*Tablets*/
@media (max-width: 770px) {
    .play {
        display: none;
    }
    .footer-link {
        flex-direction: column;
        align-items: flex-start;
    }
    .copyright {
        display: block;
        margin-bottom: 8px;
    }
    .footer-link:first-child{
        margin-left: 0;
    }
}

/*Show burger-menu button*/
@media (max-width: 610px) {
    .menu-button {
        display: block;
        position: absolute;
        right: 35px;
        top: 40px;
        width: 30px;
        height: 2px;
        background-color: #FFFFFF;
        border: none;
    }
    .menu-button:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 2px;
        margin-top: -7px;
        transition: transform 0.2s;
        background-color: #FFFFFF;
    }
    .menu-button:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 2px;
        margin-top: 7px;
        transition: transform 0.2s;
        background-color: #FFFFFF;
    }
    .menu-button-active {
        height: 0;
    }
    .menu-button-active:before {
        transform: rotate(45deg);
        margin-top: 0;
    }
    .menu-button-active:after {
        transform: rotate(-45deg);
        margin-top: 0;
    }
    .header {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #9D2929;
        width: 250px;
        padding-bottom: 40px;
    }
    .header-active {
        display: flex;
        padding-top: 30px;
    }
    .logo {
        margin-bottom: 25px;
    }
    .menu-list {
        margin: auto;
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-link {
        margin-right: 0;
        margin-bottom: 17px;
    }
    .social {
        order: 1;
        margin-bottom: 22px;
    }
    .social-link:first-child {
        margin-left: 0;
    }
    .swiper-container {
        width: 80%;
    }
    .main-content {
        margin-top: 196px;
    }
    .main-title {
        font-size: 56px;
    }
    .series {
        width: 80%;
    }
}